:host {
    text-align: center;

}

mat-toolbar{
    font-weight: bold;
    font-size: 36px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

app-history-display{
    position: absolute;
    right: 200px;
    top: 50px;
}

