<div>
  <div class="board-container" [class.disable-tile]="isGameOver()">
    <mat-grid-list cols="3" rowHeight="200px">
      @for (cell of board(); track $index) {
      <mat-grid-tile (click)="onCellClick($index, cell)">{{
        cell
      }}</mat-grid-tile>
      }
    </mat-grid-list>
  </div>

  <div id="game-info">
    @if (isGameOver()) {
    <button id="play-again-btn" (click)="onResetClick()">Play again!</button>
    } @else {
    <span>{{ currentPlayer() }} turn now!</span>
    }
  </div>
</div>
